* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.bold-text {
  font-weight: 700;
  color: white;
  font-size: 1.6rem;
}

.custom-background {
background: linear-gradient(to right, #ef8e38, #108dc7);
}

.home-banner h1 {
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 4px 3px 2px rgba(97, 15, 60, 1);
  color: white;
}

.home-banner p {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 4px 3px 2px rgba(97, 15, 60, 1);
}

.card-icon {
  width: 50px; 
  height: auto;
  float: left; 
  margin-right: 15px; 
}

.product-image {
  width: 210px;
  height: 180px;
}

Navbar {
  background-color: transparent !important;
}

.nav-link, .navbar-text {
  color: white !important;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 4px;

}

.custom-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 4px 3px 2px rgba(97, 15, 60, 1);
  letter-spacing: 1px;
}

.custom-navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333; 
  transition: color 0.3s ease, font-weight 0.3s ease; 
}

.custom-navbar a:hover {
  color: #ff9800; 
  font-weight: bold;
}


.brand-logo {
  width: 260px;
  height: 70px;
  margin: 10px;
}

.custom-button {
  width: 120px;
  height: 50px;
}

.white-font {
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(97, 15, 60, 1);
}

.content-container {
  width: 95vw;
  margin-left: 2%;
  margin-right: 2%;
}

.center-image {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%; 
}

.fullview {
  height: 100vh;
}

.service-card {
  max-width: 100%;
  max-height: 90%;
  min-height: 75%%;
  min-width: 40%;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px; 
  padding: 15px; 
  text-align: center;
}

.cardHighlight {
  max-width: 100%;
  max-height: 600px;
  min-height: 75%%;
  min-width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px; 
  padding: 15px; 
  text-align: center;
  margin: 10px;
}

.banner-component h1 {
  font-size: 7rem;
}

@media (max-width: 768px) {
  .banner-component h1 {
    font-size: 3rem;
  }

  .home-banner h1 {
    font-size: 4rem;
  }

  .home-banner p {
    font-size: 2rem;
  }
}

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.register-form h1{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.register-form-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
}


.register-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 160px;
  height: auto;
}

.register-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.register-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.register-button-container {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.login-form h1{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.login-form-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
}


.login-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 160px;
  height: auto;
}

.login-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.login-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.login-button-container {
  margin-top: 1rem;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.search-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: auto;
}

.search-form h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.search-form h3{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.search-form-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  letter-spacing: .1rem;
}

.search-button-container {
  margin-top: 3rem;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.search-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 200px;
  height: auto;
}

.search-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.search-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.product-container {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.product-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: auto;
}

.cart-container {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.cart-contents {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: auto;
}

.cart-contents h1{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.cart-contents-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
}

.bold-text-profile {
  font-weight: 700;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
}

.profile-container {
  display: flex;
  justify-content: center;
  min-height: 40%;
  max-height: 100%;
  overflow: auto;
}

.profile-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: auto;
}

.profile-form h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.profile-form h3{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.profile-form h4{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
 text-transform: uppercase;
}

.profile-form-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  letter-spacing: .1rem;
}

.profile-details-font{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: .4rem;
  margin-bottom: .5rem;
}

.order-view h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

.order-view h3{
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.order-view p {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  margin-bottom: .6rem;
}

.divider {
  border: none;
  height: 5px;
  background-color: #000;
  border-top: 10px solid orangered;
}

.reset-password-container {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  max-height: 20vh;
  overflow: auto;
}

.reset-password-form {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: auto;
}

.reset-password-form h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
}

.reset-password-font{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: .4rem;
  margin-bottom: .5rem;
}

.reset-button-container {
  margin-top: 3rem;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.profile-form {
  transition: height 0.3s ease; 
}

.profile-form.expanded {
  height: 500px; 
}

.product-view-font {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
}

.product-view-smaller-font {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
}

.product-view-black-font {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

.product-view-white-font {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.add-product {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
}

.add-product h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 3px 3px rgba(97, 15, 60, 1);
  text-transform: uppercase;
}

.add-product-font{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: .4rem;
  margin-bottom: .5rem;
}

.link-style {
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none; 
  color: #007bff; 
}

.link-style:hover {
  color: #ff9800;
  font-weight: bold;
}

.link-style:visited {
  color: black;
}

.product-table{
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
}

